:root {
    --blueOrion: rgb(3, 152, 158);
}

* {
    font-family: "Open Sans", Sans-serif, serif;
}

header {
    min-height: 100px;
    max-height: 15%;
    background: linear-gradient(to left, rgba(3, 152, 158, 0.75), rgba(3, 152, 158, 1));
    position: relative;
}

header h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 150px;
}

header .profile {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 15px;
    border: 1px solid white;
    width: 150px;
    transform: translate(0, -50%);
    background-color: white;
    border-radius: 10px;
}
.MuiPaper-root .MuiMenu-paper .MuiPopover-paper .MuiPaper-elevation8 .MuiPaper-rounded
{
    top:'65px'!important
}
html, body {
    background-color: rgb(230, 230, 230);
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
}

#root {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--blueOrion);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(3, 152, 158, 1);
    color: white;
}

.apero-div {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 100%;
}

.apero {
    background-color: rgba(3, 152, 158, 1) !important;
    color: white !important;
}

.ideaForm {
    width: 50%;
    text-align: center;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 1px #333333;
    overflow: hidden;
}

.ideaButton {
    width: 100%;
    background-color: rgba(3, 152, 158, 1) !important;
    color: white !important;
}

.input {
    width: 80% !important;
    text-align: center !important;
    margin: 2vh auto !important;
    margin-bottom: 5vh !important;
}

.list {
    display: inline-block !important;
    width: 20%;
    margin-left: 5%;
    color: rgba(3, 152, 158, 1) !important;
}

.filterList {
    width: 90vw;
    margin: 20px auto;
    align-items: center;
    text-align: center;
}

.cards {
    width: 90vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.card {
    max-width: 350px;
    margin: 1vh 1vw;
    display: inline-block;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.5) !important;
}

.cardPost {
    max-width: 500px;
    width: 100%;
    margin: 1vh 1vw;
    display: inline-block;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.5) !important;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.cardPostHeader {
    height: 80px;
    background-color: var(--blueOrion);
    color: white;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
    padding: 10px;
}

.cardPostHeader img {
    width: 60px;
    margin: 0 auto;
    padding: 0;
    border-radius: 100%;
    float: left;
}

.cardPostHeader h2 {
    position: absolute;
    top: 0;
    left: 80px;
}


.cardPostHeader .creationDate {
    font-size: 12px;
    position: absolute;
    top: 40px;
    left: 80px;
}

.cardContent {
    position: relative;
    height: 250px;
}

.cardContent img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: 40%;
    max-height: 100%;
    width: auto;
    height: auto;

}

.cardContent p {
    float: right;
    max-width: 60%;
    margin: 10px auto;
}

.avatar {
    display: inline-block;
}

/*Login */

.formLogin {
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    box-sizing: content-box;
}

#loginformRoot {
    color: #fff !important;
}

#loginformRoot-label {
    color: #fff !important;
}

div #loginformRoot {
    border-bottom: none;
}

@media screen and (max-device-width: 500px) {
    #standard-basic-label {
        font-size: 0.9em;
    }
}

@media screen
and (max-width: 500px) {
    #loginformRoot-label {
        font-size: 0.7em;
    }
}

/* Register PAGE*/

.formRegister {
    position: absolute; /* postulat de départ */
    top: 50%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    box-sizing: content-box;
}
